.signup-title {
    text-align: center;
}

.signup-description {
    text-align: center;
}

.signup-card {
    margin: 12px;
}

.signup-form-field {
    width: 325px;
    margin: 12px;
    margin-bottom: 0;
}
