.event-update-title {
    text-align: center;
}

.event-update-description {
    text-align: center;
}

.event-update-card {
    margin: 12px;
}

.event-update-form-field {
    width: 325px;
    margin: 12px;
    margin-bottom: 0;
}
