<mat-dialog-content>
    <h1 class="event-add-title">Add Event</h1>
    <p class="event-add-description">Create Your Very Own Event!</p>
    <mat-card class="event-add-card">
        <mat-card-content>
            <form [formGroup] = "addFormGroup">
                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>Event Name</mat-label>
                        <input #eventNameInput matInput formControlName = "name" autocomplete = "off">
                    </mat-form-field>
                    <mat-error *ngIf="eventNameInput.value == '' && (name.dirty || name.touched)">
                        Event Name is <strong>required</strong>
                    </mat-error>
                </div>
                
                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>Event Description</mat-label>
                        <textarea #eventDescriptionInput matInput formControlName = "description" autocomplete = "off"></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="eventDescriptionInput.value == '' && (description.dirty || description.touched)">
                        Event Description is <strong>required</strong>
                    </mat-error>
                </div>
                
                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>Minimum Points <= 4 <strong>(Numeric)</strong></mat-label>
                        <input #minPointsInput matInput formControlName = "minPoints" autocomplete = "off" type="text" pattern="\d*" maxlength="1">
                        <mat-hint align="end">{{ minPointsInput.value.length }} / 1</mat-hint>
                    </mat-form-field>
                    <mat-error *ngIf="minPoints.errors?.['pattern'] && (minPoints.dirty || minPoints.touched)">
                        Minimum Points can only be a <strong>numeric</strong>
                    </mat-error>
                    <mat-error *ngIf="minPointsInput.value == '' && (minPoints.dirty || minPoints.touched)">
                        Minimum Points is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="isGreaterThan(minPointsInput.value, 5) && (minPoints.dirty || minPoints.touched)">
                        Minimum Points must be less than 5
                    </mat-error>
                    <mat-error *ngIf="isGreater(minPointsInput.value, maxPointsInput.value) && (minPoints.dirty || minPoints.touched)">
                        Minimum Points must be less than Max Points
                    </mat-error>
                </div>
                
                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>Maximum Points <= 9 <strong>(Numeric)</strong></mat-label>
                        <input #maxPointsInput matInput formControlName = "maxPoints" autocomplete = "off" type="text" pattern="\d*" maxlength="1">
                        <mat-hint align="end">{{ maxPointsInput.value.length }} / 1</mat-hint>
                    </mat-form-field>
                    <mat-error *ngIf="maxPoints.errors?.['pattern'] && (maxPoints.dirty || maxPoints.touched)">
                        Maximum Points can only be a <strong>numeric</strong>
                    </mat-error>
                    <mat-error *ngIf="maxPoints.value == '' && (maxPoints.dirty || maxPoints.touched)">
                        Maximum Points is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="isGreaterThan(maxPointsInput.value, 10) && (minPoints.dirty || minPoints.touched)">
                        Maximum Points must be less than 10
                    </mat-error>
                    <mat-error *ngIf="isGreater(minPointsInput.value, maxPointsInput.value) && (minPoints.dirty || minPoints.touched)">
                        Minimum Points must be less than Max Points
                    </mat-error>
                </div>

                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>Start Date</mat-label>
                        <input #startDateInput matInput [matDatepicker]="startDatePicker" formControlName = "startDate" autocomplete="false">
                        <mat-hint>mm/dd/yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="startDate.errors?.['pattern'] && (startDate.dirty || startDate.touched)">
                        Start Date can only be a <strong>date</strong>
                    </mat-error>
                    <mat-error *ngIf="startDateInput.value == '' && (startDate.dirty || startDate.touched)">
                        Start Date is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="isAfter(startDateInput.value, endDateInput.value) && (startDate.dirty || startDate.touched)">
                        Start Date must be before End Date
                    </mat-error>
                </div>

                <div>
                    <mat-form-field class="event-add-form-field">
                        <mat-label>End Date</mat-label>
                        <input #endDateInput matInput [matDatepicker]="endDatePicker" formControlName = "endDate" autocomplete="false">
                        <mat-hint>mm/dd/yyyy</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="endDate.errors?.['pattern'] && (endDate.dirty || endDate.touched)">
                        End Date can only be a <strong>date</strong>
                    </mat-error>
                    <mat-error *ngIf="endDateInput.value == '' && (endDate.dirty || endDate.touched)">
                        End Date is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="isAfter(startDateInput.value, endDateInput.value) && (startDate.dirty || startDate.touched)">
                        Start Date must be before End Date
                    </mat-error>
                </div>
                
                <div>
                    <mat-form-field class="event-add-form-field" appearance = "outline" color="accent">
                        <mat-label>Select school year</mat-label>
                        <mat-select [(value)] = "yearOption">
                            <mat-option *ngFor="let option of years" [value]="option">{{ option }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="event-add-form-field" appearance = "outline" color="accent">
                        <mat-label>Select school year quarter</mat-label>
                        <mat-select [(value)] = "quarterOption">
                            <mat-option *ngFor="let option of quarters" [value]="option">Quarter {{ option }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button matDialogClose color="accent" (click)="addEvent()">Add Event</button>
    <button mat-button matDialogClose>Close</button>
</mat-dialog-actions>