.event-add-title {
    text-align: center;
}

.event-add-description {
    text-align: center;
}

.event-add-card {
    margin: 12px;
}

.event-add-form-field {
    width: 325px;
    margin: 12px;
    margin-bottom: 0;
}
