button {
    height: 36px;
    margin: 12px;
    font-size: 18px;
    border-radius: 18px !important;
}

.login-pfp {
    height: 36px;

    position: absolute;
    margin-top: 12px;

    border-radius: 18px;

    cursor: pointer;
}